.header {
  /* background-color: #21c08b; */
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  width: 100%;
}
.header__img {
  margin-left: 30px;
  width: 200px;
}
.header__logout {
  padding-right: 50px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.header__logout a {
  color: white;
}
.header__button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 50px;
}
